productionmoscow ALL=(root) NOPASSWD: /usr/bin/systemctl restart productionmoscow.service, /usr/bin/systemctl is-active productionmoscow.service, /usr/bin/systemctl is-active --quiet productionmoscow.service
